body {
    background-color: #7FB77E;
    color: #A460ED;
    font-family: 'Aclonica', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
}

.App {
    /* background-color: white; */
    background-image: linear-gradient(to top,  #F7F6DC, #B1D7B4);
    min-height: 80vh;
    width:  400px;
    margin: 20px auto;
}

.crossed {
    text-decoration: line-through 2px #E64848;
}

/* .trolley {
    padding: 10px;
} */

ul {
    list-style: none;
}

.listItem {
    font-size: 20px;
}

.listItem {
    display: flex;
}

li {
    align-items: center;
}

.btn-add {
    background: #65aa06;
    margin-top: 20px;
}

.btn-delete {
    background-color: #E64848;
    margin: 10px 0;
}

.btn {
    padding: 10px;
    border: none;
    width: 70%;
    color: white;
    font-size: 16px;
    font-family: 'Aclonica', sans-serif;
}

.listContainer img {
    margin: 10px;
}

img {
    margin: 30px 0 20px;
    border-radius: 5px;
}

input {
    border: none;
    padding: 10px;
    margin: 10px;
    flex: 1;
}